{% extends "main.html" %}
{% block content %}

	<div class="row">
			<div class = 'flash'>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			  <ul>
			  {% for message in messages %}
				  <li> <strong> {{ message }} </strong> </li>
			  {% endfor %}
			  </ul>
			  {% endif %}
		  {% endwith %}
	  
	  		</div>
		<div class="col-md-3 padding-top">
			<h2>categories</h2>
			{% for category in categories %}
			<ul>
				<li>
					<a href = "{{url_for('browse_category_items', category_title = category.title)}}">
						{{category.title}}
					</a>
				</li>
			</ul>
		{% endfor %}
		</div>
		<div class="col-md-9  padding-top">
				<h2>Latest items</h2>
				{% set category_title ={ 'title' : 'title' } %}
				<ul>
				{% for item in items %}
					{% for category in categories %}
						{% if category.id == item.category_id %}
							{% if category_title.update({'title' : category.title }) %}
							{% endif %}
						{% endif %}
					{% endfor %}
					
						<li>
							<a href="{{url_for('browse_item', category_title = category_title.title, item_title = item.title)}}">
								{{item.title}}
							</a><span class="category">({{category_title.title}})</span>
						</li>
					
				{% endfor %}
				</ul>
		</div>
		<a href = "{{url_for('add_item')}}">
				<button type="submit" class="btn btn-default" id="submit" type="submit">Add a new item</button>
			</a>
	</div>
{% endblock %}
